{%load static%}
<link rel="stylesheet" href="{%static 'css/reuse.css'%}">
<link rel="stylesheet" href="{%static 'css/footer.css'%}">

<footer class="flex align-items">
    <p style="margin: 0 !important;">Copyright © 2023 VZR.in | All rights reserved.</p>
    <div class="footer_logo"><img src="{%static 'img/VZR_logo.png'%}" alt=""></div>
    <div class="icons">
        <a target="_blank" href="https://linkedin.com/in/mohd-shariq-4723a1235"><i class="fa-brands fa-linkedin"></i></a>
        <a target="_blank" href="https://instagram.com/shariqmohd.786?igshid=NGVhN2U2NjQ0Yg=="><i class="fa-brands fa-instagram"></i></a>
        <a target="_blank" href="https://github.com/ShariqYT?tab=repositories"><i class="fa-brands fa-github"></i></a>
        <a target="_blank" href="https://discord.gg/PpCgByDN8s"><i class="fa-brands fa-discord"></i></a>
    </div>
</footer>