{%extends 'index.html'%}
{%load static%}
{%block body%}
<main>
    <h1 class="main-top-head flex justify-center">Pre-Build PCs</h1>
    <hr class="lol">
</main>
<section class="grid grid-row grid-col">
    <div class="box1">
        <img src="{%static 'img/box1.jpg'%}">
        <h1 class="flex justify-center align-items">TRIDENT PC 1</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt=""> INTEL CORE I7-12700 12TH GEN</P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> MSI MAG B660 TOMAHAWK WIFI INTEL LGA1700
            ATX</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> ZOTAC GAMING GEFORCE RTX 3060 TI TWIN
            EDGE LHR 8GB
            GDDR6</P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt=""> LIAN LI GALAHAD 360 ARGB</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt=""> CORSAIR VENGEANCE LPX 16GB (2x8GB) DDR4 3200MHZ
            C16</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt=""> SEAGATE 1TB 7200 RPM BARRACUDA</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> MSI MPG A750GF 750 WATT 80 PLUS GOLD</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt=""> WD BLUE SN570 500GB NVME</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt=""> LIAN LI LANCOOL II MESH RGB EATX BLACK +
            TYPE C
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box2">
        <img src="{%static 'img/box2.jpg'%}">
        <h1 class="flex justify-center align-items">TRIDENT PC 2</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt=""> INTEL CORE I7-12700K 12TH GEN ALDER LAKE
        </P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> ASUS ROG STRIX B660-A GAMING WIFI D4</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> ZOTAC GAMING GEFORCE RTX 3070 TWIN EDGE
            LHR 8GB GDDR6
        </P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt=""> DEEPCOOL GAMERSTORM CASTLE 240EX WHITE ARGB
        </P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt=""> TEAMGROUP T-FORCE DELTA RGB 16GB (8GBx2) DDR4
            3200MHz</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt=""> SEAGATE 1TB 7200 RPM BARRACUDA</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> DEEPCOOL DQ750M V2L WHITE</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt=""> WD BLUE SN570 500GB NVME M.2</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            LIAN LI LANCOOL 205 CABINET
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box3">
        <img src="{%static 'img/box3.jpg'%}">
        <h1 class="flex justify-center align-items">TRIDENT PC 3</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt=""> AMD RYZEN 5 5600X</P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> MSI B550-A PRO</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> INNO3D GEFORCE RTX 3060 TWIN X2 OC LHR
            12GB</P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt=""> DEEPCOOL GAMMAXX L240 ARGB</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt=""> CORSAIR VENGEANCE RGB 32GB (16GBX2) DDR4 3200MHZ
            C16</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt=""> WESTERN DIGITAL DESKTOP HARD DRIVE 1TB BLUE
        </P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> DEEPCOOL PM650D 650 WATT 80 PLUS GOLD
        </P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt=""> SAMSUNG 980 NVMe M.2 500GB</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">MSI MAG FORGE 100R ARGB ATX MID TOWER
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box4">
        <img src="{%static 'img/box4.jpg'%}">
        <h1 class="flex justify-center align-items">CREATOR PLUS PC 1</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt=""> INTEL CORE I9-12900K 12TH GEN ALDER LAKE
        </P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> MSI MAG Z690 TOMAHAWK WIFI</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> MSI RTX 3080 VENTUS 3X PLUS OC LHR 10GB
        </P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt=""> CORSAIR ICUE H150I ELITE CAPELLIX </P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt=""> GSKILL TRIDENT Z5 RGB 32GB(16GBx2) DDR5 5600MHz
            CL36</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt=""> SEAGATE 1TB 7200 RPM BARRACUDA</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> MSI MPG A850GF 850 WATT 80 PLUS GOLD</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt=""> WESTERN DIGITAL BLACK SN850 1TB GEN4 3D
            NAND NVMe</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">CORSAIR 5000X RGB</P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box5">
        <img src="{%static 'img/box5.jpg'%}">
        <h1 class="flex justify-center align-items">CREATOR PLUS PC 2</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt=""> INTEL CORE I9-12900K 12TH GEN ALDER LAKE
        </P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> ASUS PRIME Z690-A INTEL LGA1700 ATX</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> COLORFUL IGAME RTX 3060 TI ULTRA W OC-V
            8GB</P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt="">NZXT KRAKEN X73 RGB 360MM</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt=""> GSKILL RIPJAWS S5 32GB(16GBx2) DDR5 6000MHZ</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt=""> SEAGATE 2TB 5400 RPM BARRACUDA</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> DEEPCOOL DQ750M V2L</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt=""> XPG GAMMIX S50 LITE 1TB M.2 2280 PCIe
            Gen 4.4 NVMe
        </P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            PHANTEKS ECLIPSE G360A DRGB E-ATX MID TOWER
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box6">
        <img src="{%static 'img/box6.jpg'%}">
        <h1 class="flex justify-center align-items">CREATOR PLUS PC 3</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt=""> AMD RYZEN 7 5800X</P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> ASUS TUF GAMING B550 PLUS WIFI II AMD
            AM4</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> ZOTAC RTX 3070 TI TRINITY OC 8GB</P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt=""> COOLER MASTER MASTERLIQUID ML360L ARGB V2</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt="">CORSAIR VENGEANCE RGB PRO 32GB(16GBX2) DDR4
            3200MHZ C16 </P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt=""> SEAGATE 1TB 7200 RPM BARRACUDA</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> DEEPCOOL PM750D 80 PLUS GOLD ATX</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt=""> WD BLUE SN570 1TB NVME M.2</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            COOLER MASTER MASTERBOX TD500 MESH WITH CONTROLLER
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box7">
        <img src="{%static 'img/box7.jpg'%}">
        <h1 class="flex justify-center align-items">CREATOR PLUS PC 4</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt="">AMD RYZEN 9 5950X</P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> ASUS ROG STRIX X570-E GAMING WIFI II</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> MSI GEFORCE RTX 3080 SUPRIM X 10GB</P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt="">CORSAIR ICUE H150I ELITE CAPELLIX</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt="">CORSAIR VENGEANCE RGB 64GB (2x32GB) DDR4 3600MHZ
            C18</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt="">WESTERN DIGITAL BLUE 2TB 7200 RPM</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> CORSAIR RM SERIES RM850 850 WATT 80 PLUS
            GOLD</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt=""> SAMSUNG 980 PRO 1TB M.2 NVMe GEN4</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            CORSAIR ICUE 4000X RGB TEMPERED GLASS
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box8">
        <img src="{%static 'img/box8.jpg'%}">
        <h1 class="flex justify-center align-items">STARTER PC 1</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt="">AMD ATHLON 3000G WITH RADEON VEGA 3
            GRAPHICS</P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> GIGABYTE B450M DS3H V2 AMD AM4</P>
        <P class="txt-color"> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> None (Integrated
            Graphics)</P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt="">Stock Cooler</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt="">G.SKILL 8GB (8GB x 1) DDR4 - 3000 MHZ C16S</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt="">TOSHIBA P300 1TB 7200 RPM</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> GIGABYTE P450B SMPS 450 WATT 80 PLUS
            BRONZE</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt="">ANT ESPORTS 690 NEO PRO 256GB M.2 NVME
        </P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            GAMDIAS ARGUS E2 MID TOWER PC
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box9">
        <img src="{%static 'img/box9.jpg'%}">
        <h1 class="flex justify-center align-items">STARTER PC 2</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt=""> INTEL CORE I3-10100F</P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> ASUS PRIME H510M-E LGA1200 MATX</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.sv'%}g" alt=""> ASUS GT 710 2GB DDR5 Graphics Card</P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt=""> Stock Cooler</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt=""> CORSAIR Vengeance LPX Series - 8GB (8GBx1) DDR4
            3200MHz</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt="">SEAGATE 1TB 7200 RPM BARRACUDA</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> ANT ESPORTS VS500L</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt="">ADATA XPG GAMMIX S5 256GB M.2 NVMe</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            MSI MAG FORGE M100A ARGB ATX MINI TOWER
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box10">
        <img src="{%static 'img/box10.jpg'%}">
        <h1 class="flex justify-center align-items">STARTER PC 3</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt=""> INTEL CORE I3-12100</P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> GIGABYTE H610M-H DDR4 LGA1700 MICRO ATX
        </P>
        <P class="txt-color"> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> None (Integrated
            Graphics)</P>
        <P> <img src="{%static 'svg/cooler-caticon.sv'%}g" alt=""> Stock Cooler</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt="">G.SKILL 8GB (8GBx1) DDR4 - 3200 MHZ </P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt=""> SEAGATE 1TB 7200 RPM Barracuda</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> COOLER MASTER MWE 550 BRONZE - V2</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt="">WD BLUE SN570 500GB NVME M.2</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            DEEPCOOL MATREXX 40 TRI COLOR LED M-ATX MINI TOWER
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box11">
        <img src="{%static 'img/box11.jpg'%}">
        <h1 class="flex justify-center align-items">STREAMING PC 1</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt="">INTEL CORE I5-12500 3GHZ 6 CORE LGA 1700
        </P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> ASUS PRIME B660M-A D4 INTEL LGA1700</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> ZOTAC GAMING GEFORCE RTX 3070 TWIN LHR
            8GB GDDR6</P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt=""> Stock Cooler</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt="">ADATA XPG SPECTRIX D50 16GB (8GBX2) RGB 3200MHZ
        </P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt=""> TOSHIBA P300 1TB 7200 RPM</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> ANT ESPORTS FP550B BRONZE FORCE SERIES
        </P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt=""> ADATA XPG GAMMIX S5 256GB M.2 NVMe</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            ANT ESPORTS ICE-280TG WHITE MID TOWER GAMING
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box12">
        <img src="{%static 'img/box12.jpg'%}">
        <h1 class="flex justify-center align-items">STREAMING PC 2</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt="">AMD RYZEN 5 3600</P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> MSI B550M PRO-VDH WIFI</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> INNOD3D GTX 1650 TWIN X2 OC 4GB GDDR6
        </P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt=""> DEEPCOOL GAMERSTORM CASTLE 240EX WHITE ARGB
        </P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt="">CORSAIR VENGEANCE LPX 16GB (1x16GB) DDR4 3200MHZ
            C16</P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt="">SEAGATE 1TB 7200 RPM BARRACUDA</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> COOLER MASTER MWE 550 BRONZE - V2</P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt="">WD BLUE SN570 500GB NVME M.2</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            ANT ESPORTS ICE-300 MESH ATX MID TOWER
        </P>
        <button>⮞BUY NOW</button>
    </div>
    <div class="box13">
        <img src="{%static 'img/box13.jpg'%}">
        <h1 class="flex justify-center align-items">STREAMING PC 3</h1>
        <P> <img src="{%static 'svg/processor-caticon.svg'%}" alt="">INTEL CORE I5-12600K 12TH GEN ALDER LAKE
        </P>
        <P> <img src="{%static 'svg/motherboard-caticon.svg'%}" alt=""> MSI PRO B660M-A WIFI DDR4</P>
        <P> <img src="{%static 'svg/graphiccard-caticon.svg'%}" alt=""> ZOTAC GAMING GEFORCE RTX 3090 12GB GDDR6
        </P>
        <P> <img src="{%static 'svg/cooler-caticon.svg'%}" alt="">DEEPCOOL GAMMAXX L240 ARG</P>
        <P> <img src="{%static 'svg/ram-caticon.svg'%}" alt="">G.SKILL 16GB (16GB x 1) DDR4 - 3200 MHZ </P>
        <p> <img src="{%static 'svg/storage-caticon.svg'%}" alt="">SEAGATE 1TB 7200 RPM BARRACUDA</P>
        <p> <img src="{%static 'svg/powersupply-caticon.svg'%}" alt=""> DEEPCOOL PM650D 650 WATT 80 PLUS GOLD
        </P>
        <P> <img src="{%static 'svg/storage-caticon (1).svg'%}" alt="">WD BLUE SN570 1TB NVME M.2</P>
        <P> <img src="{%static 'svg/cabinets-caticon.svg'%}" alt="">
            PHANTEKS ECLIPSE P400A DRGB
        </P>
        <button>⮞BUY NOW</button>
    </div>
</section>
{%endblock%}